{% extends 'base.html.twig' %}

{% block title %}Your gallery
{% endblock %}

{% block body %}
	<div class="slide-artworks">
		<div class="pres-artworks">
			<div class="columns-artworks left"></div>
			<div class="columns-artworks right"></div>
		</div>

		<div class="title-artworks">
			<h2>Your Artworks</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quo veniam nemo exercitationem earum quam. Consectetur, maxime sit. Enim animi doloribus exercitationem molestias accusamus!</p>
			<div class="actions-artworks">
				<a href="{{ path('artworks_index') }}" class="btn3">
					<i class="fa-solid fa-chevron-left"></i>To the gallery</a>
				<a href="{{ path('artworks_create') }}" class="btn1">Post an artwork<i class="fa-solid fa-chevron-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="slide-artworks-second">
		{% if artworks|length > 0 %}
			<div class="subtitle-artworks">
				<h3>Your current artworks</h3>
				<a href="{{ path('artworks_create') }}" class="btn1">Post artwork<i class="fa-solid fa-chevron-right"></i>
				</a>
			</div>
			<div class="artworks-container">
				{% for artwork in artworks %}
					{% if not artwork.archived %}
						{% include "partials/_cards.html.twig" with {'artwork': artwork} %}
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			<h1>No artworks to sell.. yet !</h1>
			<p>It is never too late to start this journey...</p>
			<a href="{{ path('artworks_create') }}" class="btn1">Post artwork</a>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
{{encore_entry_script_tags('animFade')}}
{% endblock %}
