{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="slide">
   <div class="slide-profile">
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="profile-card">
            <div class="profile-title">
                <h2>{{user.fullName}}</h2>
            </div>
            <div class="profile-container">
                <div class="profile-content">
                    <div class="profile-picture">
                    {% if user.picture %}
                        <img src="/uploads/{{user.picture}}" alt="avatar of {{user.fullName}}">
                    {% else %}
                        <img src="../../images/default.jpg" alt="default placeholder">
                    {% endif %}
                    </div>
                    <div class="profile-info">
                        <div class="profile-header space">
                            <div class="profile-fields">
                                <p><span class="weight">Name: </span>{{user.fullName}}</p>
                                <p><span class="weight">From: </span>London, UK</p>
                                <p><span class="weight">User since: </span>{{ user.createdAt | date('d-m-Y') }}</p>
                                <p><span class="weight">Sold paintings: </span>{{archivedArtworks | length}}</p>
                            </div>
                            <div class="icons-content">
                                <a href="{{ path('account_edit') }}" class="icon icon-edit">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
								<a href="{{ path('account_password') }}" class="icon icon-sales">
									<i class="fa-solid fa-lock"></i>
								</a>
                                <a href="{{ path('account_delete') }}" class="icon icon-delete-clear">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                        <div class="profile-desc space">
                            <p><span class="weight">Description: </span>{{user.description | raw}}</p>
                        </div>
                        <div class="profile-actions">
                            <a href="{{path('account_artworks')}}" class="btn5"><i class="fa-solid fa-chart-line"></i>MY ARTWORKS</a>
                            <a href="{{path('account_auctions')}}" class="btn6"><i class="fa-solid fa-gavel"></i>MY AUCTIONS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
   {# <div class="slide">
    <h1>Test</h1>
   </div> #}
</div>
{% endblock %}