{% extends "base.html.twig" %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="slide">
		<div class="slide-profile" id="id-card">
			<div class="lines">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<div class="profile-card">
				<div class="profile-title">
					<h2>{{user.fullName}}</h2>
				</div>
				<div class="profile-container">
					<div class="profile-content">
						<div class="profile-picture">
							<div class="picture-actions icons-content">
								<a href="{{ path('account_avatar') }}" class="icon icon-edit">
									<i class="fa-solid fa-pen"></i>
								</a>
								<a href="{{ path('account_avatar_delete') }}" class="icon icon-delete-clear">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							</div>
							{% if user.picture %}
								<img src="/uploads/{{user.picture}}" alt="avatar of {{user.fullName}}">
							{% else %}
								<img src="../../images/default.jpg" alt="default placeholder">
							{% endif %}
						</div>
						<div class="profile-info">
							<div class="profile-header space">
								<div class="profile-fields">
									<p>
										<span class="weight">Name:
										</span>
										{{user.fullName}}</p>
									<p>
										<span class="weight">User since:
										</span>
										{{ user.createdAt | date('d-m-Y') }}</p>
									<p>
										<span class="weight">Sold paintings:
										</span>
										{{archivedArtworks | length}}</p>
								</div>
								<div class="icons-content">
									<a href="{{ path('account_edit') }}" class="icon icon-edit">
										<i class="fa-solid fa-pen"></i>
									</a>
									<a href="{{ path('account_password') }}" class="icon icon-sales">
										<i class="fa-solid fa-lock"></i>
									</a>
									<a href="{{ path('account_delete') }}" class="icon icon-delete-clear">
										<i class="fa-solid fa-trash-can"></i>
									</a>
								</div>
							</div>
							<div class="profile-desc space">
								<p>
									<span class="weight">Description:
									</span>
									{{user.description | raw}}</p>
							</div>
							<div class="profile-actions">
								<a href="{{path('account_artworks')}}" class="btn5">
									<i class="fa-solid fa-chart-line"></i>MY ARTWORKS</a>
								<a href="{{path('account_auctions')}}" class="btn6">
									<i class="fa-solid fa-gavel"></i>MY AUCTIONS</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-profile" id="latest-frames">
			<div class="slide-container">
				<h2>Latest frames</h2>
					<a href="{{ path('account_artworks')}}" class="btn1">Check all
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</div>
				{% if latestArtworks is not empty %}
					<div class="lines">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</div>
					<div class="frames-container">
						{% for i in 0..3 %}
							{% if latestArtworks|length > i %}
								<div class="grid-items">
									<a href="{{ path('artworks_show', {'slug': latestArtworks[i].slug}) }}">
										<img src="/uploads/{{latestArtworks[i].coverImage}}" alt="{{latestArtworks[i].title}}">
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% else %}
					<div class="empty-container">
						<p>No artworks posted yet...</p>
						<a href="{{ path('artworks_create') }}" class="btn1">Post one
							<i class="fa-solid fa-chevron-right"></i>
						</a>
					</div>
				{% endif %}
		</div>
		<div class="slide-profile" id="reviews-user">
			<div class="reviews-container">
				<div>
					<h2>Reviews</h2>
					<p class="space">Mauris imperdiet velit risus, in accumsan velit vehicula vel. Proin  malesuada tortor vitae convallis aliquet. Nunc interdum augue ac nibh  lacinia, id vulputate purus semper. In ultricies arcu a elit faucibus  scelerisque. Vestibulum vel imperdiet odio..</p>
				</div>
				<div>
					{% if reviews | length > 0 %}
						{% for review in reviews %}
							<div class="review-content">
								<div class="review-img">
									{% if review.author.picture %}
										<img src="/uploads/{{review.author.picture}}" alt="avatar of {{review.author.fullName}}" class="avatar-medium">
									{% else %}
										<img src="../../images/default.jpg" alt="default placeholder">
									{% endif %}
								</div>
								<div class="review-container">
									<div class="review-rating mb-2">
										<p>
											<span class="weight">{{review.author.fullName}}</span>
											said:</p>
										{% include "partials/rating.html.twig" with {'rating': review.rating} %}
									</div>
									<p>"{{ review.content }}"</p>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p class="weight">Not reviewed yet</p>
					{% endif %}
				</div>
			</div>
			<div class="medals-container">
				<div class="medals">
					<div class="first-ring">
						<div class="second-ring">
							<h2>{{avgRating}}</h2>
						</div>
					</div>
					<div class="ribbons"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
