{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
   <div class="container full">
    <h1>Bienvenue {{user.firstName}} {{user.lastName}} !</h1>
    {% if user.picture %}
        <div>
            <img src="/uploads/{{user.picture}}" alt="avatar">
        </div>
    {% else %}
        <div>
            <img src="https://no5.co.nz/cdn/shop/t/4/assets/placeholder_600x.png?v=113555733946226816651632776942" alt="échec">
        </div>
    {% endif %}
   </div>
    <div class="container">
        <h1>Reviews de {{ user.fullName }}</h1>
        {% if reviews is empty %}
            <p>Aucune review disponible.</p>
        {% else %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <p>Note : {{ review.rating }}</p>
                        <p>{{ review.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}