{% extends 'form-layout.html.twig' %}

{% block title %}Login
{% endblock %}

{% block img_section %}
    <div class="pic-layout">
	    <img src="../../images/login.jpg" alt="login" class="img-layout">
    </div>
{% endblock %}

{% block form_section %}

	<div class="container">
		<div class="space">
			<a href="{{ path('homepage') }}" class="subText">Home /</a>
			<a href="{{ path('account_login') }}" class="subText weight">Login</a>
		</div>
		<div>
			{% if hasError %}
				<div class="alert alert-danger">
					An error has occurred, the username or password is invalid.
				</div>
			{% endif %}
			{% if loginError %}
				<div class="alert alert-danger">
					{{loginError}}
				</div>
			{% endif %}
			<h1>welcome back !</h1>
			<p class="weight space">No account yet ?
				<a href="{{path('account_register')}}" class="text-decoration-underline">Sign up right here !</a>
			</p>
			<p class="space">Welcome back to Apollo Gallery! We’re delighted to have you return. Ready to unveil your masterpiece to the world? Let’s make this journey a spectacular success together!</p>
			<form action="{{path('account_login')}}" method="POST">
				<div class="form-group space">
					<label for="email" class="weight">Mail</label>
					<input type="text" name="_username" id="email" class="form-control" placeholder="john.doe@gmail.com" required value="{{username}}">
				</div>
				<div class="form-group space">
					<label for="password" class="weight">Password:</label>
					<input type="password" name="_password" id="password" class="form-control" placeholder="••••••••••" required>
				</div>
				<div class="form-group space">
					<button type="submit" class="btn4 align">Login</button>
				</div>
			</form>
            <div class="sm">
                <p class="subText center">Follow us here too :</p>
                <div class="social_media_all">
                    {% include "partials/_social-media.html.twig" %}
                </div>
            </div>
		</div>
	</div>
{% endblock %}
