{% set url = path('artworks_show', {'slug':artwork.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <a href="{{url}}">
            <img src="{{artwork.coverImage}}" alt="{{artwork.title}}" class="starsimg">
        </a>
        <div class="card-body">
            <h4 class="card-title">{{artwork.title}}</h4>
            <a href="{{ path('artworks_show', {'slug': artwork.slug}) }}" class="btn btn-primary">Voir plus</a>
        </div>
    </div>
</div>