{% set url = path('artworks_show', {'slug':artwork.slug}) %}
<div class="artworks-items">
	<a href="{{url}}">
		<img src="/uploads/{{artwork.coverImage}}" alt="avatar of {{artwork.title}}" class="cardsimg">
	</a>
	<div class="artworks-text">
		<div class="artworks-infos">
			<p class="weight">{{artwork.title}}
				({{artwork.year}})</p>
			<p class="weight">€
				{{artwork.priceInit|number_format(2, ',', '.')}}</p>
		</div>
		<p>{{artwork.fullName}}</p>
		<div class="icons-container">
			<a href="{{ path('artworks_show', {'slug': artwork.slug}) }}" class="btn1">Voir plus<i class="fa-solid fa-chevron-right"></i>
			</a>
			<div class="icons-content">
				{% if not artwork.archived and app.user == artwork.author %}
					<a href="{{ path('account_sales_show', {'slug': artwork.slug}) }}" class="icon icon-sales">
						<i class="fa-solid fa-gavel"></i>
					</a>
				{% endif %}
				{% if app.user == artwork.author or is_granted('ROLE_ADMIN') %}
					<a href="{{ path('artworks_edit', {'slug': artwork.slug}) }}" class="icon icon-edit">
						<i class="fa-solid fa-pen"></i>
					</a>
					<a href="#deleteModal{{ artwork.slug }}" data-bs-toggle="modal" data-bs-target="#deleteModal{{ artwork.slug }}" class="icon icon-delete">
						<i class="fas fa-trash"></i>
					</a>
					<div class="modal fade" id="deleteModal{{ artwork.slug }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ artwork.slug }}" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteModalLabel{{ artwork.id }}">Delete confirmation</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									Are you sure you want to delete this ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
									<a href="{{ path('artworks_delete', {'slug': artwork.slug}) }}" class="btn btn-danger">Delete</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
