<div class="slide-show">
	<img src="{{artwork.coverImage}}" alt="cover of {{artwork.title}}">
	<div class="color-overlay"></div>
	<div class="content-show ">
		{% if context == 'artworks_show' %}
			<div>
				<a href="{{ path('homepage') }}" class="subText">Home /</a>
				<a href="{{ path('artworks_index') }}" class="subText">Our gallery /</a>
				<a href="{{ path('artworks_show', {'slug': artwork.slug}) }}" class="subText weight">{{artwork.title}}</a>
			</div>
		{% elseif context == 'account_sales_show' %}
			<div>
				<a href="{{ path('account_profile') }}">Profile /</a>
				<a href="{{ path('account_sales_index') }}">Sales /</a>
				<a href="{{ path('account_sales_show', {'slug': artwork.slug}) }}" class="weight">{{artwork.title}}</a>
			</div>
		{% endif %}
		{% set isVertical = (artwork.canvaHeight > artwork.canvaWidth) %}
		{% set orientation_class = isVertical ? 'rotate-90' : '' %}
		<div class="container-show">
			<div class="img-show">
				<img src="{{artwork.coverImage}}" alt="cover of {{artwork.title}}" class="{{ orientation_class }}">
				<div class="frame-overlay {{ orientation_class }}"></div>
			</div>
			<div class="info-show">
				<div class="title-show">
					<h2>{{artwork.title}}</h2>
					{% if context == 'artworks_show' %}
						<div class="icons-content">
							{% if app.user == artwork.author or is_granted('ROLE_ADMIN') %}
								<a href="{{ path('account_sales_show', {'slug': artwork.slug}) }}" class="icon icon-sales">
									<i class="fa-solid fa-gavel"></i>
								</a>
								<a href="{{ path('artworks_edit', {'slug': artwork.slug}) }}" class="icon icon-edit">
									<i class="fa-solid fa-pen"></i>
								</a>
								<a href="{{ path('artworks_delete', {'slug': artwork.slug}) }}" class="icon icon-delete-clear">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
				<p class="weight">{{artwork.fullName}}</p>
				<div class="container-info">
					<div class="item-info">
						<div>
							<p class="weight">Description :
							</p>
							<p>{{artwork.content | raw }}</p>
						</div>
					</div>
					<div class="item-info">
						<p class="item weight">Year :</p>
						<p class="item">{{artwork.year}}</p>
					</div>
					<div class="item-info">
						<p class="item weight">Era :</p>
						<p class="item">
							{% for movement in movements %}
								{{ movement.movementName }}
								{% if not loop.last %}
									-
								{% endif %}
							{% endfor %}
						</p>
					</div>
					<div class="item-info">
						<p class="item weight">Medium :</p>
						<p class="item">{{artwork.medium}}</p>
					</div>
					<div class="item-info">
						<p class="item weight">Canva size :</p>
						<p class="item">{{artwork.canvaWidth}}
							x
							{{artwork.canvaHeight}}
							cm</p>
					</div>
					{% if context == 'artworks_show' %}
						<div class="item-info">
							<p class="item weight time">Time left :</p>
							{# si le temps est écoulé #}
							{% if artwork.endDate < currentDate %}
								<p class="item">
									<div class="item-flex">
										<h3>Sold</h3>
										<p>This artwork will be deleted soon...</p>
									</div>
								</p>
								{# si le temps n'est pas écoulé #}
							{% else %}
								<p class="item">
									<div class="item-flex">
										<div id="days"></div>
										<div class="d-flex">
											<div id="hour"></div>
											<div id="min"></div>
											<div id="sec"></div>
										</div>
									</div>
								</p>
							</div>
							<div class="item-price">
								<p class="weight">Price :</p>
								<div class="price">€
									{{ artwork.priceInit | number_format(2, ',', '.') }}</div>
							</div>
							{% if app.user and artwork.endDate > currentDate and artwork.author != app.user %}
								{% set userHasBid = false %}

								{% for auction in artwork.auctions %}
									{% if auction.user == app.user %}
										{% set userHasBid = true %}
									{% endif %}
								{% endfor %}

								{% if userHasBid %}
									<div class="share-container">
										<p>You have already placed a bed for this artwork.</p>
										<div>
											<div id="copyMessage" style="display: none; color: green;">Copied link!</div>
											<button id="shareLinkButton" class="btn1">
												<i class="fa-solid fa-up-right-from-square"></i>Share link
											</button>
										</div>
									</div>
								{% else %}
									<a href="{{ path('auctions_create', {'slug': artwork.slug}) }}" class="btn1">Make a bid
										<i class="fa-solid fa-gavel"></i>
									</a>
								{% endif %}
							{% endif %}
						{% endif %}
					{% elseif context == 'account_sales_show' %}
						{% if topThree is not empty %}
							<div class="item-price">
								<p class="weight">Highest bid :</p>
								<div class="price">€
									{{ topThree[0].amount | number_format(2, ',', '.') }}</div>
							</div>
						{% else %}
							<div class="item-price">
								<p class="price">No auction yet.</p>
							</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div></div></div>{% block javascripts %}<script>
function chrono() {
const divDays = document.querySelector('#days');
const divHours = document.querySelector('#hour');
const divMin = document.querySelector('#min');
const divSec = document.querySelector('#sec');

// count endDate
function compte() {
var actualDatetime = new Date();
var endDate = new Date("{{ artwork.endDate|date('M d Y H:i:s') }}");
var totalSecondes = (endDate - actualDatetime) / 1000;

// if timer ends
if (totalSecondes < 0) {
divCount.innerHTML = "fin";
return;
}

// values
var days = Math.floor(totalSecondes / (60 * 60 * 24));
var hours = Math.floor((totalSecondes - (days * 60 * 60 * 24)) / (60 * 60));
var minutes = Math.floor((totalSecondes - ((days * 60 * 60 * 24 + hours * 60 * 60))) / 60);
var secondes = Math.floor(totalSecondes - ((days * 60 * 60 * 24 + hours * 60 * 60 + minutes * 60)));

// display
divDays.innerHTML = days + " days";
divHours.innerHTML = hours + ":";
divMin.innerHTML = minutes + ":";
divSec.innerHTML = secondes;

var actualisation = setTimeout(compte, 1000);
}
compte();
}
chrono();</script>{{encore_entry_script_tags('shareLink')}}{% endblock %}
