<div id="menu">
	<nav>
		<div>
			<a href="{{path('homepage')}}">
				<div class="link">
					<p class="linkTitle">Home</p>
					<p class="linkDesc">Get ready to embark on a whimsical journey through our art wonderland! Dive into our homepage and let the magic unfold.</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
			<a href="{{path('about')}}">
				<div class="link">
					<p class="linkTitle">About</p>
					<p class="linkDesc">Ever wondered who's stirring the paint? Take a peek at our 'About' page and meet the masterminds weaving our art story.</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
			<a href="{{path('artworks_index')}}">
				<div class="link">
					<p class="linkTitle">Store</p>
					<p class="linkDesc">Discover the very essence of art by browsing through our gallery of treasures.</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
			<a href="{{path('homepage')}}">
				<div class="link">
					<p class="linkTitle">Contact</p>
					<p class="linkDesc">Got questions or just want to say hi? Swing by our 'Contact' page and let's start a conversation!</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
		</div>
		<div class="menuImg">
			<img src="./images/menu_img.svg" alt="">
		</div>
	</nav>
</div>
<header>
	<nav>
		<div>
			<img src="./images/logo.png" alt="Logo Apollo Gallery">
			<div>
				<p class="weight">APOLLO GALLERY</p>
				<p>ONLINE STORE</p>
			</div>
		</div>
	</nav>
</header>
<div id="burger">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</div>
{% block javascripts %}
    {{encore_entry_script_tags('burger')}}
{% endblock %}