<div id="menu">
	<nav>
		<div>
			<a href="{{path('homepage')}}">
				<div class="link">
					<p class="linkTitle">Home</p>
					<p class="linkDesc">Get ready to embark on a whimsical journey through our art wonderland! Dive into our homepage and let the magic unfold.</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
			<a href="{{path('about')}}">
				<div class="link">
					<p class="linkTitle">About</p>
					<p class="linkDesc">Ever wondered who's stirring the paint? Take a peek at our 'About' page and meet the masterminds weaving our art story.</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
			<a href="{{path('artworks_index')}}">
				<div class="link">
					<p class="linkTitle">Store</p>
					<p class="linkDesc">Discover the very essence of art by browsing through our gallery of treasures.</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
			<a href="{{path('account_login')}}">
				<div class="link">
					<p class="linkTitle">Publish</p>
					<p class="linkDesc">Start a colorful journey inside our world and contribute to it by adding your own masterpiece !</p>
				</div>
				<div class="arrow">
					<i class="fa-solid fa-chevron-right"></i>
				</div>
			</a>
		</div>
		<div class="menuImg">
			<img src="../../images/menu_img.svg" alt="image menu burger">
		</div>
	</nav>
</div>
<header>
	<nav>
		<div>
			<img src="../../images/logo.png" alt="Logo Apollo Gallery">
			<div>
				<a href="{{ path("homepage")}}" class="weight">APOLLO GALLERY</a>
				<p>ONLINE STORE</p>
			</div>
		</div>
		<div class="nav-actions">
			{% if app.user %}
				<a href="{{ path('artworks_create') }}" class="btn1">New artwork<i class="fa-solid fa-chevron-right"></i>
				</a>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa-regular fa-circle-user fa-xl"></i></a>
					<div class="dropdown-menu" data-bs-popper="static">
						<a class="dropdown-item" href="{{path('account_profile')}}">My profile</a>
						<a class="dropdown-item" href="{{path('account_artworks')}}">My artworks</a>
						<a class="dropdown-item" href="{{path('account_archives')}}">My archives</a>
						<a class="dropdown-item" href="{{path('account_auctions')}}">My auctions</a>
						<a class="dropdown-item" href="{{path('account_conversations')}}">My conversations</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('account_edit')}}">Edit profile</a>
						<a class="dropdown-item" href="{{path('account_avatar')}}">Edit avatar</a>
						<a class="dropdown-item" href="{{path('account_password')}}">Edit password</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('account_delete')}}">Delete account</span></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('account_logout')}}"><span class="text-danger">Log out</span></a>
					</div>
				</div>
			{% else %}
				<a href="{{ path('account_register') }}">Sign up</a>
				<a href="{{ path('account_login') }}" class="btn1">Login<i class="fa-solid fa-chevron-right"></i>
				</a>
			{% endif %}
		</div>
	</nav>
</header>
<div id="burger">
	<div class="bar"></div>
	<div class="bar"></div>
	<div class="bar"></div>
</div>
{% block javascripts %}
	{{encore_entry_script_tags('burger')}}
{% endblock %}
