{% extends "base.html.twig" %}

{% block title %}
	Sales for
	{{artwork.title}}
{% endblock %}

{% block body %}
	{% include "partials/_display.html.twig" with {'context': context, 'artwork': artwork}  %}
	<div class="slide-sales">
		<div class="container-sales">
			<div class="container-topThree">

				{% if not auctionAccepted %}
					{% if topThree|length > 0 %}
						<h2>Top Three Bids</h2>
						<div class="grid-topThree">
							{% for index in 0..2 %}
								<div class="grid-item" id="{{ ['first', 'second', 'third'][index] }}-bid">
									<div class="item">
										<div class="img-item">
											{% if topThree[index].user.picture %}
												<img src="/uploads/{{ topThree[index].user.picture }}" alt="avatar of {{ topThree[index].user.fullName }}" class="avatar-medium">
											{% else %}
												<img src="../../images/default.jpg" alt="default placeholder">
											{% endif %}
										</div>
										<div class="desc-item">
											{% include "partials/rating.html.twig" with {'rating': topThree[index].user.avgRatings} %}
											<p class="weight">{{ topThree[index].user.fullName }}</p>
											<p>€
												{{ topThree[index].amount | number_format(2, ',', '.') }}</p>
										</div>
									</div>
									<div class="podium" id="{{ ['first', 'second', 'third'][index] }}-podium">
										<img src="../../images/{{ ['first_bid', 'second_bid', 'third_bid'][index] }}.png" alt="{{ ['first', 'second', 'third'][index] }} place">
									</div>
								</div>
							{% endfor %}
						</div>

					{% endif %}
				{% else %}
					<div>
						<p>Une offre a déjà été acceptée.</p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>


{% endblock %}
