{% extends 'form-layout.html.twig' %}

{% block title %}Make a bid{% endblock %}

{% form_theme myForm _self %}

{% block img_section %}
	<div class="pic-layout">
		<img src="../../images/make_bid.jpg" alt="make_bid" class="img-layout">
	</div>
{% endblock %}

{% block form_section %}
    <div class="container">
        <div class="space">
			<a href="{{ path('artworks_index') }}" class="subText">Gallery /</a>
			<a href="{{ path('artworks_show', {'slug': artwork.slug}) }}" class="subText">{{artwork.title}} /</a>
			<a href="{{ path('auctions_create', {'slug': artwork.slug}) }}" class="subText weight">Make a bid</a>
		</div>
        <h1>How much do you want it ?</h1>
        <p class="space">Your price must be equal or greather than : <span class="weight">€ {{artwork.priceInit|number_format(2, ',', '.')}}</span></p>
        {{ form_start(myForm) }}
             {{form_widget(myForm)}}
            <button type="submit" class="btn4 align">Confirm</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="container">
        <div class="form-group row">
            <div class="col-4">
                {{form_label(form)}}
            </div>
            <div class="col-8 space">
                {{form_widget(form)}}
                {{form_errors(form)}}
            </div>
        </div>
    </div>
{% endblock %}
