{% extends 'form-layout.html.twig' %}

{% block title %}Edit mode{% endblock %}

{% block img_section %}
    <img src="../../images/edit_artwork.jpg" alt="edit_artwork" class="img-layout" id="edit_img">
{% endblock %}

{% form_theme myForm _self %}

{% block form_section %}
    <div class="container margin-y">
        <div class="d-flex justify-content-between align-items-center sm">
            <div class="space">
                <a href="{{ path('account_artworks') }}" class="subText">My Artworks /</a>
                <a href="{{ path('artworks_show', {'slug': artwork.slug}) }}" class="subText">{{artwork.title}} /</a>
                <a href="{{ path('artworks_edit', {'slug': artwork.slug}) }}" class="subText weight">Edit</a>
            </div>
            <div>
                <a href="{{ path('artworks_cover', {'slug': artwork.slug}) }}" class="btn6 mt-0">
                    <i class="fa-solid fa-pen"></i> Edit cover
                </a>
            </div>
        </div>
        <h1 class="mb-4">{{artwork.title}}</h1>
        {{ form_start(myForm) }}
             {{form_widget(myForm)}}
            <button type="submit" class="btn4 align">Edit</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="container">
        <div class="form-group row">
            <div class="col-4">
                {{form_label(form)}}
            </div>
            <div class="col-8 space">
               {% if form.vars.name == 'endDate' or form.vars.name =='priceInit' %}
                    {{form_widget(form, { 'attr': {'readonly': 'readonly' } })}}
                {% else %}
                    {{form_widget(form)}}
                {% endif %}
                {{form_errors(form)}}
            </div>
        </div>
    </div>
{% endblock %}