{% extends 'base.html.twig' %}

{% block title %}Our Gallery{% endblock %}

{% block body %}
    <div class="slide-gallery">
        <div class="intro-gallery">
            <div class="text-gallery">
                <div class="margin">
                    <div>
                        <a href="{{ path('homepage') }}">Home /</a>
                        <a href="{{ path('artworks_index') }}" class="weight">Our gallery</a>
                    </div>
                    <div>
                        <h2>OUR GALLERY</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <strong>Quia dolor dolores ea.</strong> Odio voluptas provident minima deserunt excepturi explicabo ratione fuga, beatae enim placeat accusamus, maiores vel, <strong>at mollitia voluptates reiciendis sit illo pariatur voluptate inventore velit eius.</strong> Quam id sequi culpa illum itaque. Molestiae temporibus natus reiciendis maiores doloremque incidunt suscipit! Quisquam, ex quod.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, eos voluptatum veritatis dolor tempora expedita.</p>
                            <div class="social_media_gallery">
                                <div>
                                    <i class="fab fa-facebook"></i> 
                                </div>
                                <div>
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                                <div>
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                                <div>
                                    <i class="fa-brands fa-tiktok"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="cover-gallery"></div>
        </div>
        <div class="artworks-gallery">
            <div class="artworks-content">
                <div class="artworks-title">
                    <h3>Latest frames</h3>
                    <div class="widget">
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa-solid fa-filter"></i>Movements</a>
                                <div class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 42.4px, 0px); max-height: 200px; overflow-y: auto;" data-popper-placement="bottom-start">
                                    {% for movement in movements %}
                                        <a class="dropdown-item" href="{{ path('movements_show', {'slug': movement.slug}) }}">
                                            {{ movement.movementName }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control form-custom me-sm-2" type="search" placeholder="Search...">
                            <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
                <div class="artworks-container">
                    {% for artwork in pagination.data %}
                        {% if not artwork.archived %}
                            {% include "partials/_cards.html.twig" with { 'artwork': artwork } %}
                        {% endif %}
                    {% endfor %}
                    {{pagination.display()}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
