{% extends 'base.html.twig' %}

{% block title %}Our Gallery{% endblock %}

{% block body %}
    <div class="container">
        <div>
            {% for movement in movements %}
                <button type="button" class="btn btn-secondary">
                    <a href="{{ path('movements_show', {'slug': movement.slug}) }}">
                        {{ movement.movementName }}
                    </a>
                </button>
            {% endfor %}
        </div>
        <div class="row mt-4">
            {% for artwork in artworks %}
                {% set url = path('artworks_show', {'slug':artwork.slug}) %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                           <strong>{{artwork.priceInit}}€</strong>
                        </div>
                        <a href="{{url}}">
                            <img src="{{artwork.coverImage}}" alt="{{artwork.title}}" class="starsimg">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{artwork.title}}</h4>
                            {# <p class="card-text">{{artwork.content}}</p> #}
                            <a href="{{url}}" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
