{% extends 'form-layout.html.twig' %}

{% block title %}New frame{% endblock %}

{% block img_section %}
    <img src="../../images/new_artwork.jpg" alt="new_artwork" class="img-layout" id="new_img">
{% endblock %}

{% form_theme myForm _self %}

{% block form_section %}
    <div class="container margin-y">
        <div class="space sm">
			<a href="{{ path('account_profile') }}" class="subText">Profile /</a>
			<a href="{{ path('account_artworks') }}" class="subText">Artworks /</a>
			<a href="{{ path('artworks_create') }}" class="subText weight">New artwork</a>
		</div>
        <h1 class="mb-4">New frame</h1>

        {{ form_start(myForm) }}
             {{form_widget(myForm)}}
            <button type="submit" class="btn4 align">Submit</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="container">
        <div class="form-group row">
            <div class="col-4">
                {{form_label(form)}}
            </div>
            <div class="col-8 space">
                {{form_widget(form)}}
                {{form_errors(form)}}
            </div>
        </div>
    </div>
{% endblock %}


