{% extends "base.html.twig" %}

{% block title %}New frame{% endblock %}

{# {% form_theme myForm 'artworks/_collection.html.twig' %} #}
{% form_theme myForm _self %}

{% block body %}
    <div class="container mt-4">
        <h1>Nouvelle oeuvre à vendre</h1>

        {{ form_start(myForm) }}
             {{form_widget(myForm)}}
            <button type="submit" class="btn btn-primary mt-3">Terminer</button>
        {{ form_end(myForm) }}
    </div>
{% endblock %}

{% block form_row %}
    <div class="form-group mt-2">
        <div class="row">
            <div class="col-6">
                {{form_label(form)}}
            </div>
            <div class="col-6">
                {{form_widget(form)}}
                {# {{form_errors(form)}} #}
            </div>
        </div>
    </div>
{% endblock %}
{# 
{% block text_widget %}
    <input type="text" name="{{full_name}}" id="{{id}}" class="form-control">
{% endblock %} #}