{% extends "base.html.twig" %}

{% block title %}
	{{artwork.title}}
{% endblock %}

{% block body %}
	{% include "partials/_display.html.twig" with {'context': context, 'artwork': artwork}  %}
	<div class="slide-show">
		<div class="profile-show">
			<h2>About the seller</h2>
			<div class="circle-picture">
				{% if artwork.author.picture %}
					<img src="/uploads/{{artwork.author.picture}}" alt="avatar of {{artwork.author.fullName}}">
				{% else %}
					<img src="../../images/default.jpg" alt="default placeholder">
				{% endif %}
			</div>
			<div class="circle-profile">
                <div class="circle-content">
                    <div class="laurel">
                        <h3>2.5</h3>
                        <img src="../../images/laurel.svg" alt="laurel crown">
                    </div>
                    <p><span class="weight">Name :</span> {{artwork.author.fullName}}</p>
                    <p><span class="weight">From :</span> London, UK</p>
                    <p><span class="weight">Bio :</span> {{artwork.author.description | raw}}</p>
                    <p><span class="weight">Selled paintings :</span> {{archivedArtworks | length}}</p>
                </div>
            </div>
		</div>
	</div>
	<div class="others-show">
        <div class="others-container">
            <h2>From this user</h2>
            <div class="artworks-container">
                {% for artwork in otherArtworks %}
                    {% if not artwork.archived %}
                        {% include "partials/_cards.html.twig" with {'artwork': artwork} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
	</div>
{% endblock %}
