{% extends "base.html.twig" %}

{% block title %}Artwork :
	{{artwork.title}}
{% endblock %}

{% block body %}
	{% if (app.user and app.user == artwork.author) or is_granted('ROLE_ADMIN') %}
		<a href="{{path('artworks_edit', {'slug':artwork.slug})}}" class="btn btn-warning m-2">Modification de l'annonce</a>
		<a href="{{ path('artworks_delete', {'slug': artwork.slug}) }}" class="btn btn-secondary">Supprimer</a>
	{% endif %}
	<h1>{{ artwork.title }}</h1>
    <p>{{ artwork.fullName }}</p>
	<p>{{ artwork.content }}</p>
	<p>{{ artwork.medium }}</p>
	<p>{{ artwork.submissionDate|date('Y-m-d H:i:s') }}</p>
	<p>{{ artwork.endDate|date('Y-m-d H:i:s') }}</p>
	{% for movement in movements %}
		<p>{{ movement.movementName }}</p>
	{% endfor %}

	{% if artwork.endDate|date('Y-m-d') == currentDate|date('Y-m-d') %}
		<p>Vendu</p>
	{% else %}
		<div>
			<div id="days"></div>
			<div class="d-flex">
				<div id="hour"></div>
				<div id="min"></div>
				<div id="sec"></div>
			</div>
		</div>
	{% endif %}

    <p>{{author.fullName}}</p>
    {% if author.picture %}
        <div>
            <img src="{{author.picture}}" alt="avatar de {{author.fullName}}">
        </div>
    {% else %}
    <div>
        <img src="https://no5.co.nz/cdn/shop/t/4/assets/placeholder_600x.png?v=113555733946226816651632776942" alt="avatar de {{author.fullName}}">
    </div>
    {% endif %}

	        <div class="container mt-5">
            <h1>Profil de l'utilisateur</h1>
            <div class="row mt-4">
                <div class="col-md-10">
                    <h3>{{seller.lastName}}</h3>
                    <h4 class="text-body-secondary">{{seller.firstName}}</h4>
                    <hr>
                    <div class="text-end mb-3"><p>{{seller.description | raw}}</p>
                        <figcaption class="blockquote-footer">
                            {{seller.fullName}} for<cite title="Source Title">Apollo Gallery</cite>
                        </figcaption>
                    </div>
                </div>
            </div>
            <h1 class="mt-3 mb-4">Du même vendeur</h1>
            <div class="row">
                {% for artwork in otherArtworks %}
                    {% include "partials/_cards.html.twig" with {'artwork': artwork} %}
                {% endfor %}
            </div>
        </div>
{% endblock %}

{% block javascripts %}
	<script>
		// update chrono
function chrono() {
const divDays = document.querySelector('#days');
const divHours = document.querySelector('#hour');
const divMin = document.querySelector('#min');
const divSec = document.querySelector('#sec');

// count endDate
function compte() {
var actualDatetime = new Date();
var endDate = new Date("{{ artwork.endDate|date('M d Y H:i:s') }}");
var totalSecondes = (endDate - actualDatetime) / 1000;

// if timer ends
if (totalSecondes < 0) {
divCount.innerHTML = "fin";
return;
}

// values
var days = Math.floor(totalSecondes / (60 * 60 * 24));
var hours = Math.floor((totalSecondes - (days * 60 * 60 * 24)) / (60 * 60));
var minutes = Math.floor((totalSecondes - ((days * 60 * 60 * 24 + hours * 60 * 60))) / 60);
var secondes = Math.floor(totalSecondes - ((days * 60 * 60 * 24 + hours * 60 * 60 + minutes * 60)));

// display
divDays.innerHTML = days + " days";
divHours.innerHTML = hours + ":";
divMin.innerHTML = minutes + ":";
divSec.innerHTML = secondes;

var actualisation = setTimeout(compte, 1000);
}
compte();
}
chrono();
	</script>
{% endblock %}
