{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="slide">
    <div class="banner">
        <div class="banner_img" id="banner_img1"></div>
        <div class="banner_img" id="banner_img2"></div>
        <div class="banner_img" id="banner_img3"></div>
        <div class="quote">
            <h2>"In French, there is an old expression, la patte, meaning the artist's touch, his personal style, his 'paw'. I wanted to get away from la patte and from all that retinal painting."</h2>
            <p>- Marcel Duchamp, 1887-1968.</p>
        </div>
    </div>
    <div class="content">
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-content">
                    <div>
                        <div>
                            <a href="{{ path('homepage') }}" class="subText">Home /</a>
                            <a href="{{ path('about') }}" class="subText weight">About</a>
                        </div>
                        <h2>ABOUT US</h2>
                    </div>
                    <div>
                        <h3>Our debut</h3>
                        <p>Did you know? Originally, <strong>Apollo Gallery</strong> was a project developed as part of an examination. The aim was to restore the reputation of art, to rediscover its impact on the world. As it grew, the team was joined by a few <strong>experts</strong>, and after a long journey, the project came to life for real on <strong>June 28th</strong> - a few centuries after the birth of the legendary painter <strong>Peter Paul Rubens!</strong></p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content"></div>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <div class="grid-content"></div>
            </div>
            <div class="grid-item">
                <div class="grid-content">
                    <h3>Our team</h3>
                    <p>In terms of art history, no site offers a collective as complete as <strong>Apollo Gallery</strong>'s. Our team consists of an <strong>administrator</strong> and <strong>four experts</strong>, each a master in their respective fields. Don't hesitate to leave us a message; we'll make sure to get back to you as soon as possible !</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content">
                <div>
                    <h3>Our values</h3>
                    <p><strong>Legacy</strong> is the cornerstone of a rich society. Our aim is to restore it within a community of <strong>both young and old people</strong>, with the reverence and silence that <strong>patience</strong> requires - a rarity in the 21st century. Moreover, <strong>ecology</strong> holds a significant place in our concerns. Remember, kids: there is no Planet B !</p>
                </div>
                <div>
                    <a href="{{ path('homepage') }}" class="btn3"><i class="fa-solid fa-chevron-left"></i>Back home</a>
                    <a href="{{ path('artworks_index') }}" class="btn1">Browse it<i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content">
                    <a href="{{ path('homepage') }}" class="btn3"><i class="fa-solid fa-chevron-left"></i>Back home</a>
                    <a href="{{ path('artworks_index') }}" class="btn1">Browse it<i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content"></div>
            </div>
        </div>
    </div>
    <div class="content-expert">
        <div class="desc-expert" id="cover">
            <div class="title-expert">
                <h2>OUR EXPERTS</h2>
            </div>
            <div class="cover-expert"></div>
        </div>
        <div class="desc-expert">
            <div class="pres-expert">
                <div>
                    <p>Let us guess: you are the owner of a masterpiece but you don't know how much it is worth, right ? We got you ! Contact one of our experts to learn more about your artwork, whether it is about the painter, the year of its painting or the price you should ask... Don't forget to log in and to say hi, we're all humans after all !</p>
                </div>
                <div class="each-expert">
                    <div class="grid-container">
                        {% for expert in experts %}
                            {% if 'ROLE_EXPERT' in expert.roles %}
                            <div class="grid-item">
                                <div class="expert-info">
                                    {% if expert.picture %}
                                        <img src="/uploads/{{expert.picture}}" alt="avatar de {{expert.fullName}}" class="avatar avatar-medium">
                                    {% else %}
                                        <img src="https://i0.wp.com/www.repol.copl.ulaval.ca/wp-content/uploads/2019/01/default-user-icon.jpg?ssl=1" alt="avatar de {{expert.fullName}}" class="avatar avatar-medium">
                                    {% endif %}
                                    <div class="expert-name">
                                        <p class="weight">{{ expert.fullName }}</p>
                                        <p>Art Expert</p>
                                    </div>
                                </div>
                                <p>"{{expert.description}}"</p>
                                <a href="{{ path('create_conversation', {'expertSlug': expert.slug}) }}" class="icon">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('fadeIn')}}
{% endblock %}

