{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="slide">
    <div class="banner">
        <div class="banner_img" id="banner_img1"></div>
        <div class="banner_img" id="banner_img2"></div>
        <div class="banner_img" id="banner_img3"></div>
        <div class="quote">
            <h2>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsam, reprehenderit illum consectetur ut accusantium ipsa nulla sit incidunt praesentium?"</h2>
            <p>- Eugène-Ernest Hillemacher, New Anger</p>
        </div>
    </div>
    <div class="content">
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-content">
                    <div>
                        <div>
                            <a href="{{ path('homepage') }}">Home /</a>
                            <a href="{{ path('about') }}" class="weight">About</a>
                        </div>
                        <h2>ABOUT US</h2>
                    </div>
                    <div>
                        <h3>Our debut</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptas nemo rerum, magni veniam alias aperiam molestias illum similique quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae officiis ipsum sed perspiciatis eligendi provident.</p>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content"></div>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <div class="grid-content"></div>
            </div>
            <div class="grid-item">
                <div class="grid-content">
                    <h3>Our team</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum, quibusdam omnis soluta, cupiditate repudiandae corrupti obcaecati fugit fuga, rerum inventore dolore enim possimus quas tenetur harum! Dicta corporis nemo perspiciatis cum, ratione est, vero iste asperiores, nesciunt exercitationem totam.</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content">
                <div>
                    <h3>Our values</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum, quibusdam omnis soluta, cupiditate repudiandae corrupti obcaecati fugit fuga, rerum inventore dolore enim possimus quas tenetur harum! Dicta corporis nemo perspiciatis cum, ratione est, vero iste asperiores, nesciunt exercitationem totam.</p>
                </div>
                <div>
                    <a href="{{ path('homepage') }}" class="btn3"><i class="fa-solid fa-chevron-left"></i>Back home</a>
                    <a href="{{ path('artworks_index') }}" class="btn1">Browse it<i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content">
                    <a href="{{ path('homepage') }}" class="btn3"><i class="fa-solid fa-chevron-left"></i>Back home</a>
                    <a href="{{ path('artworks_index') }}" class="btn1">Browse it<i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-content"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('fadeIn')}}
{% endblock %}

        {# <h1>Liste des experts</h1>
        <ul>
            {% for expert in experts %}
                {% if 'ROLE_EXPERT' in expert.roles %}
                    <li>{{ expert.fullName }}</li>
                    <form action="{{ path('create_conversation', {'expertSlug': expert.slug}) }}" method="post">
                        <button type="submit" class="btn btn-primary rounded-pill">
                            <i class="fa fa-envelope"></i> Envoyer un message
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
        </ul> #}
