{% extends 'base.html.twig' %}

{% block title %}HomePage
{% endblock %}

{% block body %}
<div class="slide">
    <div class="social_media">
        <div>
            <i class="fab fa-facebook"></i> 
        </div>
        <div>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div>
            <i class="fa-brands fa-tiktok"></i>
        </div>
    </div>
    <div class="scroll">
        <img src="./images/scroll.gif" alt="scroll_animation">
    </div>
    <div class="header">
        <div class="letters flex flex-column">
			<p>GALLERY</p>
            <div>APOLLO</div>
			<p>Welcome to Apollo Gallery, where secrecy meets the canvas! Dive into our clandestine world of art auctions, where masterpieces find new homes, and mystery adds an extra brushstroke of excitement.</p>
            <div type="button" class="btn1 weight">Browse it<i class="fa-solid fa-arrow-right"></i></div>
        </div>
    </div>
    <div class="website-content">
        <div class="img-holder">
            <img src="./images/hero.jpg" alt="apollo_homepage_img">
        </div>
        <div class="content-holder">
			<h1>Hello</h1>
			<div class="container">
			<div class="accordion" id="accordionExample">
			{% for faq in faqs %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{ loop.index }}">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
							{{faq.question}}
						</button>
					</h2>
					<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{{faq.content}}
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('gsap')}}
{% endblock %}