{% extends 'base.html.twig' %}

{% block title %}HomePage
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Hello</h1>
		<div class="accordion" id="accordionExample">
        {% for faq in faqs %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading{{ loop.index }}">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
						{{faq.question}}
					</button>
				</h2>
				<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						{{faq.content}}
					</div>
				</div>
			</div>
        {% endfor %}
		</div>
	</div>
	<div class="container full">
		<h1 class="mt-3 mb-4">Nos dernières annonces</h1>
			<div class="row">
			{% for recentArtwork in recentArtworks %}
				<div class="col-md-4">
					<div class="card bg-light mb-3">
						<img src={{recentArtwork.coverImage}} alt="Image de l'appartement" class="starsimg">
					</div>
				</div>
			{% endfor %}
			</div> 
	</div>
	<div class="container full">
    <h1>Contactez-nous</strong></h1>

    {{form_start(myForm)}}

        {{form_widget(myForm)}}
        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>

    {{form_end(myForm)}}
    </div>
{% endblock %}
