{% extends 'base.html.twig' %}

{% block title %}HomePage
{% endblock %}

{% block body %}
    <div class="logo"></div>
    <div class="header">
        <div class="letters flex flex-column">
			<p>GALLERY</p>
            <div>APOLLO</div>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dolores, quo vitae delectus exercitationem nulla quaerat nisi quod inventore eos corporis porro eius optio dicta minima esse fuga unde labore.</p>
        </div>
        <div class="letters">
            <div>g</div>
            <div>a</div>
            <div>l</div>
            <div>l</div>
            <div>e</div>
            <div>r</div>
            <div>y</div>
        </div>
    </div>
    <div class="website-content">
        <div class="img-holder">
            <img src="./images/hero.jpg" alt="apollo_homepage_img">
        </div>

        <div class="content-holder">
			<h1>Hello</h1>
			<div class="container">
			<div class="accordion" id="accordionExample">
			{% for faq in faqs %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{ loop.index }}">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
							{{faq.question}}
						</button>
					</h2>
					<div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{{faq.content}}
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('gsap')}}
{% endblock %}