{% extends 'conversation-layout.html.twig' %}
{% set otherUser = conversation.user.id == app.user.id ? conversation.expert : conversation.user %}

{% block title %}
	Conversation with
	{{otherUser.fullName}}
{% endblock %}

{% block title_section %}
	to:
	{{otherUser.fullName}}
{% endblock %}

{% block button_section %}
	<a href="{{ path('account_conversations') }}" class="btn1"><i class="fa-solid fa-chevron-left"></i>Conversations</a>
{% endblock %}
{% block conversations_section %}
	<div id="display-conversation">
		{% include "partials/_conversations.html.twig" %}
	</div>
{% endblock %}

{% block messages_section %}

	<div class="write-message">
		<div id="message-container">
			<div class="w-100 container d-flex gap-20 flex-column">
				{% for message in messages %}
					<div class="w-100 d-flex flex-column p-2">
						{% if message.sendBy == app.user %}
							<div class="user-message">
								<div>{{ message.content }}</div>
								<small>{{ message.timestamp|date('d/m/Y H:i') }}</small>
							</div>
						{% else %}
							<div class="not-user-message">
								<div>{{ message.content }}</div>
								<small>{{ message.timestamp|date('d/m/Y H:i') }}</small>
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="mt-4">
			{{ form_start(myForm) }}
			<div class="d-flex align-items-center justify-content-between">
				<div class="input-group">
					{{ form_widget(myForm.content, {'attr': {'class': 'form-control form-control-sm', 'style': 'padding: 10px;'}}) }}
				</div>
				<div>
					<button type="submit" class="btn p-3">
						<i class="fas fa-arrow-up"></i>
					</button>
				</div>
			</div>
			{{ form_end(myForm) }}
		</div>
	</div>
	<script>
		// Scroll to bottom after DOM is fully loaded
document.addEventListener("DOMContentLoaded", function (event) {
var messagesContainer = document.getElementById('message-container');
messagesContainer.scrollTop = messagesContainer.scrollHeight;
});
	</script>
{% endblock %}
